requests~=2.32.5
python-dotenv~=1.0.1
PyMuPDF~=1.26.6

streamlit~=1.52.1
streamlit-aggrid~=1.2.1
streamlit-lottie~=0.0.5

langchain~=1.1.2
langchain-community~=0.4.1
langchain-openai~=1.1.0
langchain-text-splitters~=1.0.0
langgraph~=1.0.4

openai~=2.9.0
faiss-cpu~=1.13.1

pyttsx3~=2.99
langchain-core~=1.1.1
